---
import WarningBox from "../components/WarningBox.astro";
import NoteBox from "../components/NoteBox.astro";

import track from '../assets/illustrations/track.jpg';
---

<section class="content flex flex-col space-y-8 flex-1 w-full scroll-mt-24">

			<!-- <WarningBox text="PRAVIDLÁ SÚ V PRACOVNEJ VERZII A EŠTE NIE SÚ PLATNÉ." />-->

			<div class="flex flex-col space-y-4">
				<h1>Pravidlá</h1>
				<p>
					Súťaž pozostáva z dvoch častí, v prvej časti budú tímy jazdiť kvalifikačné jazdy, na základe ktorých sa určí ich poradie pri štarte v ostrých jazdách a rozdelenie do skupín. Úlohou v kvalifikácii je čo najrýchlejšie prejsť traťou a vybojovať si tak čo najlepšiu pozíciu a skupinu. Úlohou v ostrých jazdách je prísť do cieľa ako prvý. Počet kôl sa určí priamo na súťaži.
				</p>
			</div>

			<WarningBox text="Racing v tomto roku prináša niekoľko významných zmien, preto si ich dôkladne naštudujte. Ak máte akékoľvek otázky alebo nejasnosti, neváhajte nás kontaktovať." />

			<div id="rozdelenie" class="flex flex-col space-y-4 scroll-mt-28">
				<div class="flex flex-col space-y-2">
					<h2 class="text-orange">Rozdelenie</h2>
					<p>
						Kategórie pre RBA 2026 sú nasledovné: Racing Cup a Racing Open.
					</p>
				</div>
				<div class="flex flex-col space-y-2">
					<h3>Racing Cup</h3>
					<p>
						Do tejto kategórie sa radia všetky modely, ktoré spĺňajú nasledovné podmienky:
					</p>
					<div>
						<strong>Elektronické súčiastky sú výhradne zo sady:</strong>
						<ul>
							<li>LEGO MINDSTORMS NXT / EV3</li>
							<li>LEGO Spike</li>
							<li>Edison</li>
							<li>ELECFREAKS</li>
						</ul>
						<i>Tieto stavebnice pre potreby pravidiel označujeme ako "schválené stavebnice".</i>
					</div>
					<div>
						<strong>alebo</strong>
						<ul>
							<li>napätie plne nabitej batérie nepresahuje 9V</li>
							<li>H Bridge musí byť napájaný cez poistku <a href="https://www.soselectronic.com/sk-sk/products/bel-fuse/0zrb0135ff2e-1-255978" target="_blank" class="animated-underline text-orange">Poistka vratná PTC, polymérová 0ZRB 30V 1,35A P5,1mm THT radiálna</a> Ak to nie je možné realizovať, poistka musí byť zaradená do hlavného napájania t.j. hneď za batériou</li>
							<li>Robot neobsahuje žiadne prídavné aktívne alebo pasívne chladenie poistky</li>
						</ul>
					</div>
					<p>
						Splnenie podmienok posudzuje porota na technickom prevedení. V prípade, že model nespĺňa podmienky kategórie bude automaticky zaradený do kategórie OPEN. <br><br>

						V prípade, že robot bude mať inú poistku, tím ju na súťaži bude musieť vymeniť za takú, ktorú mu poskytne porota kategórie.
					</p>
				</div>
				<div class="flex flex-col space-y-2">
					<h3>Racing OPEN</h3>
					<p>
						V kategórii Open môžu súťažiaci použiť čokoľvek v rámci pravidiel. Motory, servá, regulátory, karoséria, kolesá, ovládanie (prijímač, vysielač) a batérie môžu byť kúpené. Podvozok, vytáčanie a všetko ostatné musí byť vyrobené súťažiacimi.
					</p>
				</div>
			</div>

			<div id="bezpecnost" class="flex flex-col space-y-4 scroll-mt-28">
				<div class="flex flex-col space-y-2">
					<h2 class="text-orange">Bezpečnostné pokyny</h2>
					<p>
						Všetky autá, ktoré neobsahujú výlučne elektronické súčiastky zo schválených stavebníc <strong>musia</strong> spĺňať nasledovné bezpečnostné pokyny:
						
						<ul>
							<li>Batérie sa musia nachádzať v ochrannom obale o hrúbke minimálne 1mm. Výnimku tvoria batérie obsahujúce pevný obal (napr. 18650 batérií).</li>
							<li>Batéria na robotovi musí byť umiestnená tak, aby v prípade kolízie bolo zabránené možnosti priamemu kontaktu iného robota alebo dráhy s batériou.</li>
							<li>Vo vrchnej časti robota musí byť jasne viditeľné červené tlačidlo (switch), ktoré odpojí batériu.</li>
						</ul>

						<NoteBox text="Ak viete o stavebnici, ktorá by mala byť pridaná do zoznamu schválených stavebníc, prosím kontaktujte organizátorov súťaže a doplníme ju." />
					</p>
				</div>
				<div class="flex flex-col space-y-2">
					<h3>Bezpečnostná kontrola</h3>
					<p>
						To, či auto spĺňa bezpečnostné pokyny sa kontroluje najneskôr počas technického prevedenia. Súťažiaci môžu prísť na bezpečnostnú kontrolu aj po registrácii. Ak auto úspešne absolvuje bezpečnostnú kontrolu, obdrží nálepku. Autám bez úspešnej bezpečnostnej previerky je zakázané pohybovať sa po súťažnej trati a tréningovej zóne.
					</p>
					<NoteBox text="Bezpečnostná kontrola nie je technickou kontrolou. Je to samostatná kontrola, kde sa kontroluje splnenie bezpečnostných pokynov. Auto môže úspešne prejsť bezpečnostnou kontrolou, no nemusí prejsť technickou, kde sa kontroluje splnenie pravidiel a požiadaviek." />
					<p>
						Po bezpečnostnej a technickej kontrole auta už nie je možné auto meniť, t.j. vymeniť komponent za iný druh. V prípade akejkoľvek zmeny musí auto podstúpiť obe kontroly nanovo.
					</p>
				</div>
			</div>

			<div id="vseobecne" class="flex flex-col space-y-4 scroll-mt-28">
				<div class="flex flex-col space-y-2">
					<h2 class="text-orange">Všeobecné pravidlá</h2>
					<ul>
						<li>Kontakt robota s robotom je povolený, ale zasiahnutý robot nesmie byť materiálne poškodený (zlomené alebo inak poškodené súčiastky). Vážnosť situácie posúdia rozhodcovia.</li>
						<li>Model môže byť ovládaný diaľkovo, ale môže pracovať aj autonómne.</li>
						<li>Ak sa model počas jazdy technicky poškodí, je možné ho vrátiť na štart, opraviť a nanovo spustiť. Počet celých odjazdených kôl sa zachováva.</li>
						<li>Každý robot musí mať na hornej časti vodorovnú hladkú plochu o veľkosti minimálne 10 x 5cm (dĺžka  x  šírka), na ktorej bude nalepené identifikačné čislo. Nálepku s číslom tím obdrží počas technickej kontroly. Súťažných a kvalifikačných kôl sa môžu zúčastniť len tímy, ktorých robot má identifikačné číslo.</li>
						<li>Robot smie prejsť ponad mantinel iba za použitia skokanského mostíka.</li>
						<li>Počas kvalifikačných a súťažných kôl je zakázaný voľný pohyb po súťažnej trati. Súťažíaci sa smú pohybovať len po vyznačených miestach.</li>
						<li>Počas celého súťažného dňa je <strong>zakázané</strong> jazdiť s autami mimo tréningový a súťažný okruh.</li>
						<li>Autám, ktoré neobsahujú výlučne elektronické súčiastky zo schválených stavebníc je <strong>zakázané</strong> jazdiť bez úspešnej bezpečnostnej previerky.</li>
						<li>Súťažné modely musia byť totožné s tými, ktoré boli na technickej kontrole.</li>
					</ul>
					<strong>Roboty môžu byť vybavené nasledovnými komponentami:</strong>
					<ul>
						<li>motor, regulátor, servo</li>
						<li>prijímač, vysielač, batéria</li>
						<li>vlastná elektronika, gyroskop a iné snímače</li>
						<li>tlmiče, diferenciály, poloosy, hriadele</li>
						<li>diely vyrobené súťažiacimi</li>
						<li>diely vytlačené na 3D tlačiarni</li>
					</ul>
					<strong>Roboty musia:</strong>
					<ul>
						<li>Byť vybavené funkciou spiatočky.</li>
						<li>V prípade straty signálu zastať.</li>
						<li>Mať maximálne 5 motorov.</li>
						<li>Mať nasledovné maximálne rozmery: 25 x 20 x 25cm (dĺžka  x  šírka  x  výška).</li>
						<li>Mať maximálnu hmotnosť 3kg.</li>
					</ul>
					<NoteBox text="Na RBA 2025 budú ešte akceptované aj pôvodné rozmery (40 x 30 x 40cm), avšak ak sa dá tak by bolo vhodné aby ste auto čo najviac zmenšili." />
					<strong>Roboty nesmú:</strong>
					<ul>
						<li>Používať IR na ovládanie</li>
						<li>Mať celú nápravu vytiahnutú zo závodného podvozku RC autíčka</li>
						<li>Mať komplet nápravu zo stavebnice (tu sa radí aj predrobený Micro:Bit podvozok). Zadná <a href="http://static.competitionx.com/uploads/2017/01/team-associcated-rc10f6-factory-team-f1-car-p6.jpg" target="_blank" class="animated-underline text-orange">os s diferenciálom</a> je povolená.</li>
						<li>Použiť už hotovú nápravu alebo podvozok</li>
						<li>Použiť <a href="https://grabcad.com/library/openrc-1-10-3d-printable-rc-truggy" target="_blank" class="animated-underline text-orange">voľne dostupný RC model</a> vytlačený na 3D tlačiarni.</li>
						<li>Byť zakúpené. Musí to byť výlučne práca žiakov.</li>
					</ul>
					<p>
						Porušenie pravidel má za následok varovanie a následnu diskvalifikáciu tímu z danej kategórie.
						<br>
						Za prípadné škody na robotoch nezodpovedá organizátor.
					</p>
				</div>
			</div>

			<div id="hodnotenie" class="flex flex-col space-y-4 scroll-mt-28">
				<h2 class="text-orange">Hodnotenie</h2>
				<div class="flex flex-col space-y-2">
					<h3>Kvalifikácia a skupiny</h3>
					<p>
						Pred hlavnými jazdami budú tímy rozdelené do skupín A až X na základe času v kvalifikačnom kole. Každý tím má na kvalifikáciu 3 pokusy (3 kolá) a časový limit 5 minút. Ostré jazdy začnú od poslednej skupiny, pričom najlepší tím postupuje do vyššej skupiny.
					</p>
				</div>
				<div class="flex flex-col space-y-2">
					<h3>Najlepšie technické prevedenie</h3>
					<p>
						Porota udeľuje ocenenie za Najlepšie technické prevedenie. Toto ocenenie sa udeľuje tímu, ktorý preukáže výnimočnú kreativitu, inovatívnosť a technickú zručnosť v konštrukcii a programovaní svojho robota. Porota hodnotí nielen výkon na trati, ale aj originalitu riešení, efektivitu použitia materiálov a celkovú kvalitu spracovania robota.
					</p>
					<p>
						Hodnotenie tímov a kontrola modelu bude prebiehať bezprostredne pred kvalifikačnou jazdou pri vstupe na trať. Pre vstup a výstup z trate bude potrebné použiť jasne vyznačené miesta. Pri technickej kontrole tím stručne odprezentuje program robota, konštrukciu a preukáže manévrovateľnosť. Dostavte sa na technickú kontrolu aspoň 2 minúty skôr. Model použitý pri kvalifikácii musí byť totožný s modelom, s ktorým sa bude jazdiť pretek.
					</p>
					<p>
						Počas technickej kontroly porota urobí foto / video záznam modelu. Porota sa môže rozhodnúť vykonať pred štartom námatkovú kontrolu modelov, aby sa ubezpečila, že model je totožný s tým, ktorý bol na technickej kontrole. V prípade zistenia nezhody hrozí tímu diskvalifikácia.
					</p>
				</div>
			</div>

			<div id="priebeh" class="flex flex-col space-y-4 scroll-mt-28">
				<h2 class="text-orange">Priebeh súťaže</h2>
				<div class="relative">
      
					<div class="hidden md:block absolute left-1/2 transform -translate-x-1/2 h-full w-1 bg-blue-200"></div>
					
					<div class="block md:hidden absolute left-4 h-full w-1 bg-blue-200"></div>

					<div class="space-y-12">
						<div class="relative flex items-center justify-between md:flex-row-reverse w-full">
							<div class="hidden md:block md:w-5/12"></div> 
							<div class="z-10 absolute left-4 md:left-1/2 transform -translate-x-1/2 w-8 h-8 bg-orange border-4 border-white rounded-full shadow"></div>
							<div class="ml-12 md:ml-0 md:w-5/12 bg-white p-6 shadow-md border-r-4 border-orangeLight transition hover:shadow-xl">
								<h3 class="text-lg font-bold text-blue mb-1">Bezpečnostná kontrola</h3>
								<p class="text-subtext text-sm">
									Porota skontorluje, či auto spĺňa bezpečnostné pokyny. Ak auto úspešne absolvuje bezpečnostnú kontrolu, obdrží nálepku. Autám bez úspešnej bezpečnostnej previerky je zakázané pohybovat sa po súťažnej trati a tréningovej zóne.
								</p>
							</div>
						</div>

						<div class="relative flex items-center justify-between w-full">
							<div class="hidden md:block md:w-5/12"></div>
							<div class="z-10 absolute left-4 md:left-1/2 transform -translate-x-1/2 w-8 h-8 bg-blueLight border-4 border-white rounded-full shadow"></div>
							<div class="ml-12 md:ml-0 md:w-5/12 bg-white p-6 shadow-md border-l-4 border-blueLight transition hover:shadow-xl">
								<h3 class="text-lg font-bold text-orange mb-1">Technické prevedenie</h3>
								<p class="text-subtext text-sm">
									Každý tím odprezentuje svoje vozidlo. Porota skontroluje, či vozidlo spĺňa pravidlá a požiadavky. Počas technickej kontroly porota urobí foto / video záznam modelu. Porota sa môže spýtať doplňujúce otázky týkajúce sa konštrukcie, programovania a funkčnosti vozidla.
								</p>
							</div>
						</div>

						<div class="relative flex items-center justify-between md:flex-row-reverse w-full">
						<div class="hidden md:block md:w-5/12"></div>
						<div class="z-10 absolute left-4 md:left-1/2 transform -translate-x-1/2 w-8 h-8 bg-orange border-4 border-white rounded-full shadow"></div>
						<div class="ml-12 md:ml-0 md:w-5/12 bg-white p-6 shadow-md border-r-4 border-orangeLight transition hover:shadow-xl">
							<h3 class="text-lg font-bold text-blue mb-1">Kvalifikácia</h3>
							<p class="text-subtext text-sm">
								Bezprostredne po technickej kontrole tím odštartuje kvalifikačnú jazdu. Tím má na kvalifikáciu 3 pokusy (3 kolá) a časový limit 5 minút. Na základe najlepšieho času sa zaradí tím do príslušnej skupiny.
							</p>
						</div>
						</div>

						<div class="relative flex items-center justify-between w-full">
							<div class="hidden md:block md:w-5/12"></div>
							<div class="z-10 absolute left-4 md:left-1/2 transform -translate-x-1/2 w-8 h-8 bg-blueLight border-4 border-white rounded-full shadow"></div>
							<div class="ml-12 md:ml-0 md:w-5/12 bg-white p-6 shadow-md border-l-4 border-blueLight transition hover:shadow-xl">
								<h3 class="text-lg font-bold text-orange mb-1">Preteky</h3>
								<p class="text-subtext text-sm">
									Ostré jazdy začnú od poslednej skupiny, pričom najlepší tím postupuje do vyššej skupiny. Počet kôl sa určí priamo na súťaži.
								</p>
							</div>
						</div>
    				</div>
				</div>

				<NoteBox text="Víťaz každého kola postupuje do ďalšieho kola, pričom v prípade rovnosti časov rozhoduje lepší kvalifikačný čas. Maximálna dĺžka preteku je 10 minút." />

				<WarningBox text="Pozor, nastali zmeny oproti minulým rokom v spôsobe brania auta do boxu." />
				<p>
					Každý tím má na trati 2 členov - šoféra a technika. Úlohou šoféra je diaľkovo riadiť vozidlo, zatiaľ čo technik je zodpovedný za prípadné opravy a úpravy vozidla počas pretekov. Obe pozície môžu komunikovať a koordinovať svoje činnosti, aby dosiahli čo najlepší výkon na trati. Technici stoja pri trati, a sledujú priebeh súťaže. V prípade kolízie auta s iným vozidlom alebo s prekážkou, technik môže vozidlo vziať do boxu na opravu. Vozidlo do boxu prenáša technik po vonkajšom obvode trate. V boxe môže technik vykonať opravy alebo úpravy vozidla, ale nesmie meniť jeho základnú konštrukciu alebo komponenty. Po oprave vozidlo vráti na trať na štartovnú pozíciu a pokračuje v preteku. Počet kôl, ktoré tím odjazdil, sa zachováva. Ak tím pozostáva len z jedného člena, bude mu pridelený člen organizačného tímu ako technik. V tomto prípade organizátor len prenáša auto do boxu a späť na trať, ale nezasahuje do opráv alebo úprav vozidla.
				</p>
				<WarningBox text="Každý tím pri vstupe na trať oznámi porote, ktorý člen je šofér a technik." />
			</div>

			<div id="trat" class="flex flex-col space-y-4 scroll-mt-28">
				<h2 class="text-orange">Popis trate</h2>
				<p>
					Trať je vyznačená mantinelmi o výške aspoň 3 cm. Na trati sa môžu nachádzať rovné úseky rôznych dĺžok, oblúky, mierny náklon trate a rôzne stúpania, či klesania.
				</p>
				<div class="flex flex-col space-y-2">
					<div>
						<p><strong>Šírka trate</strong> – 50 - 55 cm.</p>
					</div>

					<div>
						<p><strong>Povrch</strong> – trať je tvorená palubovkou alebo dlaždicami z EVA peny (Ethylene Vinyl Acetate). </p>
					</div>

					<NoteBox text="Na trati sa môžu nachádzať nerovnosti alebo plochy z rôznych materiálov (napr. koberec s krátkymi vláknami), vzhľadom na to odporúčame svetlosť podvozku (vzdialenosť najnižšieho bodu podvozku od vozovky) aspoň 1 cm. Najmä v kategórii elektronika si treba dať pozor na vhodne zvolené pneumatiky a dostatočne citlivú reguláciu motorov." />

					<div>
						<p><strong>Prekážky</strong> – na trati sa môžu nachádzať prekážky, ktoré budú uložené tak, že medzi aspoň jednou vodiacou stenou a prekážkou bude minimálne 35 centimetrová medzera. Prekážky môžu byť fixne pripevnené k povrchu.</p>
					</div>

					<div>
						<p><strong>Skokanský mostík</strong> – Naklonená rovina výšky maximálne 15 cm a s maximálnym sklonom 20°. Skokanský mostík je možné obísť okľukou.</p>
					</div>

					<div>
						<p><strong>Boxy</strong> – na trati sa nachádzajú boxy, v ktorých počas jazdy môžete svojho robota opraviť bez toho, aby sa musel vrátiť na štartovnú pozíciu a opakovať kolo. Boxy sa nachádzajú za štartom.</p>
					</div>
				</div>
				<h6>Ukážka trate</h6>
				<img src={track.src} alt="Ukážka trate" class="h-52 w-min rounded-lg shadow-md" />
				<h6>Tréningový okruh</h6>
				<p>
					Na súťaži bude k dispozícii tréningový okruh, ktorý bude mať podobné parametre ako súťažná trať. Tréningový okruh bude k dispozícii po celý deň bez obmedzení, takže si ho môžete vyskúšať a otestovat svoje auto. Odporúčame vám, aby ste využili túto príležitosť na doladenie svojho modelu a získanie cenných skúseností pred ostrými jazdami.
				</p>
			</div>
		</section>