+++
title = "Robotický Battle na Alejovej"
linkTitle = "Robotický Battle na Alejovej"

+++

{{< blocks/cover title="Robotický Battle na Alejovej" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4 disabled">
		Registrácia už čoskoro! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a> -->
	<a class="btn btn-lg btn-secondary mr-3 mb-4" target="_blank" rel="noopener noreferrer"
		href="https://docs.google.com/forms/d/e/1FAIpQLSdHth37pixCfVTq-7G-QpRjRlgEy5_1bl2jeP0xKwhGb_IACQ/viewform">
		Registrovať <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/rules" >}}">
		Aktuálne pravidlá
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" target="_blank" href="https://eepurl.com/gtR8Vb">
		Odber noviniek
	</a>
	<p class="lead mt-5">Dvanásty ročník RBA sa uskutoční 5.6.2023 na Gymnáziu, Alejová 1 v Košiciach.
	</p>
	{{< blocks/link-down color="info">}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
RBA (Robotický Battle na Alejovej) je súťaž pre žiakov základných a stredných škôl,
ktorí majú záujem o robotiku.
Cieľom súťaže je popularizácia robotiky a informatiky na školách.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-flag-checkered" title="Racing" %}}
V tejto kategórií je potrebné skonštruovať čo najrýchlejšie a najobratnejšie auto,
ktoré bude schopné zdolávať rôzne prekážky na trati. Celá kategória má formu pretekov a vyhráva družstvo,
ktoré prejde trať za najkratší čas a splní pri tom všetky podmienky. Okrem samotných pretekov,
bude prebiehať hodnotenie najlepšieho technického prevedenia modelov, za ktoré je možné získať špeciálnu cenu.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-rocket" title="Vlastný model" %}}
Úlohou je postaviť čo najzaujímavejší model s ľubovoľnou tématikou, ktorý musí zaujať porotu.
Hodnotí sa vzhľad, konštrukcia, kreativita, funkčnosť, ale aj program a vlastná práca.
Je vhodné vopred si pripraviť prezentáciu, v ktorej svoj model predstavíte a popíšete.
K dispozícii sú pravidlá aj vzorová prezentácia.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cogs" title="Robotická výzva" %}}
Robotickú výzvu hrajú súčasne dva roboty proti sebe.
Roboty štartujú v rôznych koncoch ihriska.
Obe ihriská sú zakončené spoločnou časťou - kde sa roboty stretávajú.
Cieľom je získať najvyššie skóre.
V prípade rovnosti bodov rozhoduje čas. Pozrite si Pravidlá.
{{% /blocks/feature %}}
{{< /blocks/section >}}


{{< blocks/lead color="white">}}
<div class="mx-auto">
	<h2 class="text-center pb-3">Organizátori</h2>
	<p class="text-center showcase">
		<a href="https://www.galeje.sk/"><img src="images/partners/alej.png" height="170"  alt="Gymnázium, Alejová 1, Košice"></a>
		<a href="https://zdruzenie.strom.sk"><img src="images/partners/strom.png" height="170"  alt="Združenie STROM"></a>
		<a href="https://www.upjs.sk/prirodovedecka-fakulta/"><img src="images/partners/pf_upjs.png" height="170"  alt="Prírodovedecká fakulta Univerzity Pavla Jozefa Šafárika v Košiciach"></a>
	</p>
</div>
{{< /blocks/lead >}}

{{< blocks/section color="white" >}}
<div class="mx-auto">
	<h2 class="text-center pb-3">Partneri</h2>
	<p class="text-center showcase">
		<a href="https://shop.filament-pm.com"><img class="img-fluid" style="margin: 10px" src="images/partners/logo-filament-pm.png" width="170"  alt="Filament PM"></a>
		<a href="http://www.aquapro.sk/"><img class="img-fluid" style="margin: 10px" src="images/partners/aquapro.png" width="120"  alt="Aquapro"></a>
		<a href="https://www.soselectronic.com/sk"><img class="img-fluid" style="margin: 10px" src="images/partners/logo-sk.svg" width="170"  alt="SOS electronic"></a>	</p>

		<!--p class="text-center showcase">
			<a href="http://kkui.fei.tuke.sk/"><img class="img-fluid" style="margin: 10px" src="images/partners/KKUI-01.png" width="80"  alt="KKUI"></a>
			<a href="http://www.fei.tuke.sk/"><img class="img-fluid" style="margin: 10px" src="images/partners/FEI-Logo.png" width="80"  alt="FEI"></a>
			<a href="http://www.fmkosice.sk/"><img class="img-fluid" style="margin: 10px" src="images/partners/fmatyp.png" width="120"  alt="FM-ATYP"></a>
			<a href="https://www.ibm.com/sk-sk/"><img class="img-fluid" style="margin: 10px" src="images/partners/IBM_logo.png" width="120"  alt="IBM"></a>
			<a href="http://www.tuke.sk/"><img class="img-fluid" style="margin: 10px" src="images/partners/tuke_logo.png" width="120"  alt="TUKE"></a>
			<a href="http://www.kosiceitvalley.sk/"><img class="img-fluid" style="margin: 10px" src="images/partners/logoITV.png" width="80"  alt="IT Valley"></a>
			<a href="https://www.pcbway.com/"><img class="img-fluid" style="margin: 10px" src="images/partners/PCBWay.png" width="120"  alt="PCBWay"></a>	</p>
		</p-->
</div>

{{< /blocks/section >}}


