---
layout: default
title: Kto sme?
permalink: /organizers/
---

<div class="container">
    <h1 class="page-title">{{ page.title | escape }}</h1>
    <div class="card">
        <div class="card-image">
            <img src="/img/organizers/all.jpg" alt="organizers-photo">
        </div>
        <div class="card-content">
            Sme skupina nadšencov pre robotiku. Preto sa ju snažíme spopularizovať na stredných a základných školách aj sútažou RBA. Tento rok čaká už 9 ročník.
            <h5>
                    Otázky? Neváhajte nás kontaktovať!
            </h5>
            <a href="mailto:galejeteam@gmail.com">galejeteam@gmail.com</a> <br>
            <a href="https://www.facebook.com/RBA-Robotický-Battle-na-Alejovej-301693466574320/" >Facebook RBA</a>
            
            <!--
            {% assign PER_LINE = 3 %}
            {% assign N = site.data.organizers | size | divided_by: PER_LINE | ceil %}
            {% for I in (i..N)%}
            {% assign OFFSET = I | times: PER_LINE%}
            <div class="row">
                {% for org in site.data.organizers offset: OFFSET limit: PER_LINE %}
                <div class="col s12 m4 l4">
                    <div class="card z-depth-0">
                        <div class="card-image-org">
                            {% if org.photo %}
                            <img src="{{org.photo}}">
                            {% else %}
                            <img src="/img/organizers/miss-head.jpg">
                            {% endif %}
                        </div>
                        <div class="card-content center-align">
                            <span class="card-title"><b>{{org.name}}</b></span>
                            <p>{{org.position}}</p>
                            <div class="section" style="line-height: 20px">
                                {% if org.email %}
                                <a href="mailto:{{ org.email }}" style="margin-right: 10px"><i class="fas fa-envelope fa-lg"></i></a>
                                {% endif %}
                                {% if org.github %}
                                <a href="{{ org.github }}" style="margin-right: 10px"><i class="fab fa-github fa-lg"></i></a>
                                {% endif %}
                                {% if org.linkedin %}
                                <a href="{{ org.linkedin }}" style="margin-right: 10px"><i class="fab fa-linkedin-in fa-lg"></i></a>
                                {% endif %}
                                {% if org.twitter %}
                                <a href="{{ org.twitter }}"><i class="fab fa-twitter fa-lg"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            -->
        </div>
    </div>
</div>
