<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
            <img class="responsive-img" src="{{ site.logo_text | relative_url}}" style="height: 60px" alt="RBA logo">
        </a>

        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ "/" | relative_url }}">Domov</a>
            </li>
            <li>
                <a href="{{ "/rules" | relative_url }}">Pravidlá</a>
            </li>
            <li>
                <a href="{{ "/results" | relative_url }}">Výsledky</a>
            </li>
            <li>
                <a href="{{ "/gallery" | relative_url }}">Galéria</a>
            </li>
            <li>
                <a href="{{ "/organizers" | relative_url }}">Kto sme?</a>
            </li>
            <li>
                <a href="http://eepurl.com/gtR8Vb" target="_blank">Prihláste sa na odber</a>
            </li>
            <li>
                <a href="{{ "/feed.xml" | relative_url }}">RSS feed</a>
            </li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <br>
                <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
                    <img class="responsive-img" src="{{ site.logo_text | relative_url}}" alt="RBA logo">
                </a>
                <br>
            <li>
                <a href="{{ "/" | relative_url }}">Domov</a>
            </li>
            <li>
                <a href="{{ "/rules" | relative_url }}">Pravidlá</a>
            </li>
            <li>
                <a href="{{ "/results" | relative_url }}">Výsledky</a>
            </li>
            <li>
                <a href="{{ "/gallery" | relative_url }}">Galéria</a>
            </li>
            <li>
                <a href="{{ "/organizers" | relative_url }}">Kto sme?</a>
            </li>
            <li>
                <a href="http://eepurl.com/gtR8Vb" target="_blank">Prihláste sa na odber</a>
            </li>
            <li>
                <a href="{{ "/feed.xml" | relative_url }}">RSS feed</a>
            </li>
        </ul>

        <a data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
