---
import MainLayout from "../../layouts/MainLayout.astro"
import SplitSectionImgTxt from "../../components/SplitSectionImgTxt.astro";
import WarningBox from "../../components/WarningBox.astro";
import NoteBox from "../../components/NoteBox.astro";

import vyzva from "../../assets/photos/vyzva.jpg";
---

<MainLayout title="Live Challenge - Pravidlá">
	<SplitSectionImgTxt 
		title="Live Challenge" 
		subtitle="Logika. Improvizácia. Algoritmus."
		imageSrc={vyzva.src} 
		imageAlt="Live Challenge RBA"
		text="Trúfneš si na nečakané? V kategórii Live Challenge nepoznáš zadanie dopredu. Dostaneš ho až ráno v deň súťaže a máš len pár hodín na to, aby si svojho robota postavil a naprogramoval priamo na mieste. Táto kategória preverí tvoju schopnosť uvažovať pod časovým tlakom a nájsť najefektívnejší algoritmus pre zvládnutie prekážok, ktoré ťa čakajú na hracej ploche."
	/>

	<section class="flex flex-col space-y-2 content py-12">
		<h1>Pravidlá</h1>
		<p>
			Pravidlá tejto kategórie zverejníme čoskoro. Pre predstavu si môžete prečítať <a href="https://github.com/RobotickyBattle/rba.github.io/blob/master/static/pdf/rules/roboticka_vyzva/2025-LiveChallenge.pdf" target="_blank" class="text-orange animated-underline">minuloročné pravidlá</a>.
		</p>
	</section>

<!--
	<div class="relative flex flex-col md:flex-row gap-12 content py-12">
		<aside class="md:w-64 shrink-0">
			<div class="sticky top-24 hidden md:block py-2">
				<h4 class="text-xs font-black uppercase tracking-widest text-subtext mb-6">Obsah</h4>
				<nav class="flex flex-col space-y-4">
					<a href="#rozdelenie" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Rozdelenie</a>
					<a href="#vseobecne" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Všeobecné pravidlá</a>
					<a href="#priebeh" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Priebeh súťaže</a>
					<a href="#hodnotenie" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Hodnotenie</a>
				</nav>
			</div>

			<div class="md:hidden sticky top-0  z-30 px-4 py-4 border-b overflow-x-auto flex whitespace-nowrap space-x-6 text-sm font-bold no-scrollbar">
				<a href="#rozdelenie" class="text-orange">Rozdelenie</a>
				<a href="#vseobecne">Pravidlá</a>
				<a href="#priebeh">Priebeh</a>
				<a href="#hodnotenie">Hodnotenie</a>
			</div>
		</aside>

		<section class="content flex flex-col space-y-8 flex-1 w-full scroll-mt-24">
			<div class="flex flex-col space-y-4">
				<h1>Pravidlá</h1>
				<p>
					V deň konania súťaže bude zverejnené zadanie kategórie a úlohou tímu je vyriešiť súťažné úlohy z vlastnej prinesenej stavebnice.
					<br><br>
					Od 3 dní pred konaním súťaže budú zverejňované bližšie informácie, ktoré by mali súťažiacim tímom slúžiť ako nápovedy, čo ich čaká a čo určite nezabudnúť pribaliť do stavebnice. Všetky dôležité informácie budú zverejňované v tomto dokumente na oficiálnej stránke súťaže a poslané mailom kontaktným osobám.
				</p>
				<NoteBox text="Ako úlohy na prípravu môžete využiť staršie zadania Robotickej výzvy, prípadne rôzne krátke robotické úlohy iných súťaží dostupné na internete."/>
				<p>
					Úlohy z minulých rokov možno nájsť na <a href="https://github.com/RobotickyBattle/rba.github.io/tree/master/static/pdf/rules/roboticka_vyzva" target="_blank" class="text-orange animated-underline">tomto odkaze</a>
				</p>
			</div>

			<div id="rozdelenie" class="flex flex-col space-y-4 scroll-mt-28">
				<div class="flex flex-col space-y-2">
					<h2 class="text-orange">Rozdelenie</h2>
					<p>
						Katégória Vlastný model nie je rozdelená na podkategórie. Všetky tímy  sú hodnotené spoločne na základe splnenia úloh. V prípade veľkého počtu prihlásených tímov si organizátori vyhradzujú právo rozdeliť kategóriu na podkategórie ZŠ a SŠ. V takomto prípade rozhoduje vek najstaršieho člena tímu. O tomto rozdelení budú súťažiaci informovaní pred začiatkom súťaže.
					</p>
				</div>
			</div>

			<div id="vseobecne" class="flex flex-col space-y-4 scroll-mt-28">
				<div class="flex flex-col space-y-2">
					<h2 class="text-orange">Všeobecné pravidlá</h2>
					<p>
						Maximálne rozmery:
						<ul>
							<li>Výška: 30 cm</li>
							<li>Šírka: 25 cm</li>
							<li>Dĺžka: 25 cm</li>
						</ul>
					</p>
					<WarningBox text="Ak rozmery robota budú presahovať tie určené, môže sa stať, že robot bude narúšať časti ihriska, alebo sa nebude vedieť dostať cez určité úseky." />

					<strong>Tímy musia:</strong>
					<ul>
						<li>mať práve jedného súťažného robota</li>
						<li>riešiť úlohu samostatne</li>
						<li>na vyžiadanie poroty vedieť vysvetliť program, ktorý použili na riešenie úlohy</li>
					</ul>
					<WarningBox text="Rozhodca si vyhradzuje právo skontrolovať program v prípade podozrenia z podvodu. V prípade zásadného porušenia pravidiel môže porota rozhodnúť o diskvalifikácii tímu." />
					<strong>Tímy môžu:</strong>
					<ul>
						<li>použiť ľubovoľnú stavebnicu na riešenie úloh</li>
						<li>riešiť úlohy ľubovoľnným spôsobom</li>
					</ul>
					<NoteBox text="Úlohy budú stavané tak, aby sa dali vyriešiť za použitia jednej LEGO MINDSTORMS, EV3 alebo SPIKE Prime stavebnice (bez rozširovacích boxov)."/>
					<strong>Tímy nesmú:</strong>
					<ul>
						<li>použiť hotové riešenia</li>
					</ul>
					<NoteBox text="Pre čo najlepšie využitie času na odladenie chýb, je tímom povolené vopred si pripraviť základnú konštrukciu robota, ale nie je to nevyhnutné." />
				</div>
				<div class="flex flex-col space-y-2">
					<h2 class="text-orange">Bezpečnostné pokyny</h2>
					<p>
						Všetky súťažné modely, ktoré neobsahujú výlučne originálne LEGO elektronické súčiastky musia spĺňať nasledovné bezpečnostné pokyny:
						<ul>
							<li>Batérie sa musia nachádzať v ochrannom obale o hrúbke minimálne 1mm. Výnimku tvoria batérie obsahujúce pevný obal (napr. 18650 batérie).</li>
							<li>Batéria na robotovi musí byť umiestnená tak, aby v prípade kolízie bolo zabránené možnosti priamemu kontaktu iného robota alebo dráhy s batériou.</li>
							<li>Vo vrchnej časti robota musí byť jasne viditeľné červené tlačidlo (switch), ktoré odpojí batériu.</li>
						</ul>
						Modely, ktoré nespĺňajú bezpečnostné pokynu sa nesmú pohybovať v súťažných priestoroch, či už počas tréningu alebo súťažných jázd.
					</p>
				</div>
			</div>

			<div id="priebeh" class="flex flex-col space-y-4 scroll-mt-28">
				<h2 class="text-orange">Priebeh súťaže</h2>
				<p>
					Súťaž trvá 3 hodiny, počas ktorých tímy postavia a naprogramujú robota, ktorý splní čo najviac zadaných úloh. Tímy majú neobmedzený počet pokusov na plnenie úlohy. Medzi jednotlivými úlohami môžu tímy meniť program aj konštrukciu robota. Akonáhle je tím pripravený na ostrú jazdu, kontaktuje porotcu, ktorý spustí časovač. Tím môže zopakovať úlohu ľubovoľný počet krát počas trvania súťaže. Do výsledku sa zaznamenáva najlepší dosiahnutý výsledok.
				</p>
				<NoteBox text="V prípade potreby a otázok od viacerých tímov, organizátori pripúšťajú vhodné predĺženie trvania súťaže." />
			</div>

			<div id="hodnotenie" class="flex flex-col space-y-4 scroll-mt-28">
				<h2 class="text-orange">Hodnotenie</h2>
				<p>
					Úlohy sú samostatne bodované, pričom obsahujú aj čiastkové body za splnenie časti zadania. V prípade rovnosti bodov viacerých tímov, rozhoduje rýchlejší čas splnenia zadania v danom pokuse (každá úloha má samostatný časovač).
				</p>
			</div>
		</section>
	</div>
-->
</MainLayout>