---
import MainLayout from "../../layouts/MainLayout.astro"
import SplitSectionImgTxt from "../../components/SplitSectionImgTxt.astro";
import Rules from "../../rules/LiveChallenge.astro";

import vyzva from "../../assets/photos/vyzva.jpg";
---

<MainLayout title="Live Challenge - Pravidlá">
	<SplitSectionImgTxt 
		title="Live Challenge" 
		subtitle="Logika. Improvizácia. Algoritmus."
		imageSrc={vyzva.src} 
		imageAlt="Live Challenge RBA"
		text="Trúfneš si na nečakané? V kategórii Live Challenge nepoznáš zadanie dopredu. Dostaneš ho až ráno v deň súťaže a máš len pár hodín na to, aby si svojho robota postavil a naprogramoval priamo na mieste. Táto kategória preverí tvoju schopnosť uvažovať pod časovým tlakom a nájsť najefektívnejší algoritmus pre zvládnutie prekážok, ktoré ťa čakajú na hracej ploche."
	/>
<!--
-->

	<div class="relative flex flex-col md:flex-row gap-12 content py-12">
		<aside class="md:w-64 shrink-0">
			<div class="sticky top-24 hidden md:block py-2">
				<h4 class="text-xs font-black uppercase tracking-widest text-subtext mb-6">Obsah</h4>
				<nav class="flex flex-col space-y-4">
					<a href="#rozdelenie" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Rozdelenie</a>
					<a href="#vseobecne" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Všeobecné pravidlá</a>
					<a href="#priebeh" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Priebeh súťaže</a>
					<a href="#hodnotenie" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Hodnotenie</a>
				</nav>
			</div>

			<div class="md:hidden sticky top-0  z-30 px-4 py-4 border-b overflow-x-auto flex whitespace-nowrap space-x-6 text-sm font-bold no-scrollbar">
				<a href="#rozdelenie" class="text-orange">Rozdelenie</a>
				<a href="#vseobecne">Pravidlá</a>
				<a href="#priebeh">Priebeh</a>
				<a href="#hodnotenie">Hodnotenie</a>
			</div>
		</aside>

		<Rules/>

	</div>

</MainLayout>