---
import MainLayout from "../../layouts/MainLayout.astro"
import SplitSectionImgTxt from "../../components/SplitSectionImgTxt.astro";
import Rules from "../../rules/VlastnyModel.astro";

import vlastny from "../../assets/photos/vlastny.jpg";
---

<MainLayout title="Vlastný model - Pravidlá">
	<SplitSectionImgTxt 
		title="Vlastný model" 
		subtitle="Kreativita. Inovácia. Prezentácia." 
		imageSrc={vlastny.src} 
		imageAlt="Vlastný model RBA"  
		text="Máš nápad, ktorý svet ešte nevidel? Vlastný model je kategória bez hraníc, kde sa tvoja fantázia mení na realitu. Od smart domácností až po robotické ramená – dôležitý je originálny nápad, technické spracovanie a schopnosť svoj projekt obhájiť pred porotou. Ukáž nám, ako tvoj robot rieši skutočné problémy, a inšpiruj ostatných svojím technickým riešením."
	/>

	<section class="flex flex-col space-y-2 content py-12">
		<h1>Pravidlá</h1>
		<p>
			Pravidlá tejto kategórie zverejníme čoskoro. Pre predstavu si môžete prečítať <a href="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/rules/vlastny_model/2025-VlastnyModel.pdf" target="_blank" class="text-orange animated-underline">minuloročné pravidlá</a>.
		</p>
	</section>
	<!--
	<div class="relative flex flex-col md:flex-row gap-12 content py-12">
		<aside class="md:w-64 shrink-0">
			<div class="sticky top-24 hidden md:block py-2">
				<h4 class="text-xs font-black uppercase tracking-widest text-subtext mb-6">Obsah</h4>
				<nav class="flex flex-col space-y-4">
					<a href="#rozdelenie" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Rozdelenie</a>
					<a href="#vseobecne" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Všeobecné pravidlá</a>
					<a href="#prezentacia" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Prezentácia</a>
					<a href="#priebeh" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Priebeh súťaže</a>
					<a href="#hodnotenie" class="text-sm font-medium text-subtext hover:text-orange transition-colors">Hodnotenie</a>
				</nav>
			</div>

			<div class="md:hidden sticky top-0  z-30 px-4 py-4 border-b overflow-x-auto flex whitespace-nowrap space-x-6 text-sm font-bold no-scrollbar">
				<a href="#rozdelenie" class="text-orange">Rozdelenie</a>
				<a href="#vseobecne">Pravidlá</a>
				<a href="#prezentacia">Prezentácia</a>
				<a href="#priebeh">Priebeh</a>
				<a href="#hodnotenie">Hodnotenie</a>
			</div>
		</aside>

		<Rules/>
	</div>
	 -->
</MainLayout>