---

import MainLayout from "../layouts/MainLayout.astro"
import ArchiveCard from "../components/ArchiveCard.astro"
---

<MainLayout title="Archív">
	<secition class="content py-12 flex flex-col space-y-2">
		<h1>Archív</h1>
		<p>
			Chýba vám už RBA, hľadáte inšpiráciu, alebo sa už len neviete dočkať ďalšieho ročníka? Prezrite si galérie z minulých rokov!
		</p>
		<div class="w-full gap-4 grid grid-cols-1 md:grid-cold-2 lg:grid-cols-3">
			<ArchiveCard 
				title="RBA 2025" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczNhpjayP5nSaHxpninrrZ8o-YHl6Oa39RZ6tlhBTiBk76cerBbzCnfz90i-U5cIpco_GIgliTqIRZ-3cLvFlo7Zpots7k810GVIiHQsLrh1RwNT1HiKtxZmu2CvIX96itRflWXwMijqE5X6Z2PTFfdB=w1371-h914-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/FRv3Ykto8BwhSW9r5" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2025-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2024" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczO6xknjdh4Qno5MbhcH0_mYJDt8ZxtGhLNaDOHieJkcsL_ZQR22tKl-FceKAL5bR0mpcBOyCC7gjMTEGezqtC7XNm3Rgs8F708zeZSSSHdnU8h7O5eBT0rH_8kR2rRB-Pb2Bf1TM9-mc48wialZ0A3d=w1371-h914-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/SBa7oX8Lk1VtxJVq9" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2024-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2023" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczMmZ994iQ4A_K2KVwn7GiS5ISe3oBqFjfze_NGmdZLIQv2aIjoNn2D5hm1IfLONXPr-m7B1BcT0WpJyhbRAASqFsR_TY6RRDDDG7jjFhTkZdQcqA0NgsnBuWjF2nHBJm2QV-oFSWdd_MIIK3xoKtSrN=w1371-h914-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/5zKcWjhPAhp5NUkPA" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2023-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2022" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczMiJF4adoyn7qHTlPixnsC-fEavsAsq_UQXsr2-P-D7LKxCxMkIY7Lj3dE57KBoJRhknu5lE61PA8PhSSf74oTvEcI9mxRtN8jatfr0mGrxYhCQfERKv3pmu6LFWaQCnD8km3WqSymgBhasW2nwRP_M=w1371-h914-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/p3XBnPog3AaquoqK7" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2022-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2019" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczPbsfutdqB6c4EhUOh7OWtfPBj89XmxiztaWX7NUcuAGq3XCeOpb8sqITbaZgn75jW-AU7u32K3ETOZbIN8lri8HxPmvUHlR_DWgg1GUG8hJn5ms5xk-IBNYS6vSy7ci5WVCFLThSZKnMQCf-1lDyjv=w1371-h914-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/TauKfqhvxxduYK91A" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2019-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2018" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczNmPygbOB6xg7zdot8JoEA900u_EKIJkHbe9weeXkTvkLYZrry4LNR554gmMRVhU8zhy-XxoYZuU04s2Ic2xZQy1el9DeRJ9WWYBkw35A1YlCRPXKhl5iM_R0TkIPNEHUhS4gpUPW_BzExY5056OFNU=w1371-h914-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/wyQGKjJjBC6P5SKP9" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2018-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2017" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczMv7Ff4s-9UyrebKG-UTqhJ-tTdre05XIIlQBSidk6m93CFtQIWV1XK5lVTJWx5Keb3si-1DYidVJBZZjhQaEOXBTkLZWObWlGb6Vm8bNSGjQpMkg6FExSHxzlGjQn06EZlt5QpdeksSCCa5A39UJ9H=w1371-h914-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/Vf956zMgDwbAYTdSA" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2017-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2016" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczO2Jxl40JktW4oWr4G3ojlI5KAypLq3ArUVWzZf24yWxAwyiwoExKxIIMfCtSPvvZL2sbGopNpaTB-wKAIKGSXCXUMSA-eTXevs1Z2YP_clxlaIr7cPlDw4fovVi0KZJeluJaowMIUzBvsc8tDzSEbm=w1371-h914-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/8FaytboaV8JYm5G99" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2016-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2015" 
				imgPath="https://scontent.fksc1-1.fna.fbcdn.net/v/t39.30808-6/546621358_24295664093417255_3020538748864868428_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=cf85f3&_nc_ohc=ulKA9MPuH1oQ7kNvwGmeT-Q&_nc_oc=AdkjioK4kp7tSzo2t39_ZxTzgwuV3z4HkhS0DlO44y_Ndx54RV7l3_save9sr46TisU&_nc_zt=23&_nc_ht=scontent.fksc1-1.fna&_nc_gid=0vPpzfbeDgIfGRisXwRhRQ&oh=00_AfqGxDuF36GJZgg0-1_XBP5n09pSaLCoOzF9dSdxGluK5A&oe=697C79CD" 
				albumLink="https://www.facebook.com/media/set/?set=a.830426927034302&type=3" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2015-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2014" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczOxr-lL5tjBsWFceTkAEE3DJjZJje2sHecl9M-vU_5mUsMI_9LRyZwcz9YDxDqESmy1w2KIth6plIafylfykJtlHwpJus89f0ZY_XslzQ4Ue3QcAisIlLK9kkEmM-JpuqDK5vOpZlHiins7jGU10dtW=w1371-h914-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/zWPQCVHPCBqjiWvd9" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2014-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2013" 
				imgPath="https://scontent.fksc1-1.fna.fbcdn.net/v/t39.30808-6/545451123_24282680068048991_4942334066706040428_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cf85f3&_nc_ohc=0xCmjYCs4pAQ7kNvwEnCzjq&_nc_oc=AdnztJXHWR4tBkLgckBnjpxNhPtoeYc_V-YcY-AxPYgmYa9ECoaq8gtakd-eA0EWq0s&_nc_zt=23&_nc_ht=scontent.fksc1-1.fna&_nc_gid=gQyy4tV9340khyF-X552sg&oh=00_AfrkVp1zcPEls8BSUPibHeBnhf9v13GceYt_g3FCoKJSIQ&oe=697C7438" 
				albumLink="https://www.facebook.com/media/set/?set=a.470511683025830&type=3" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2013-Vysledky.pdf" />
			<ArchiveCard 
				title="RBA 2012" 
				imgPath="https://lh3.googleusercontent.com/pw/AP1GczPk9GNPPNYv8ydJ6tkdPFVEw9L2E_VPxa7K262jy81nVsqG_ZTe1hQibFn-L3DuEh5bj56TL0Y__n6Y3al9t4UyZzkmjnpAWV9nLIKXbWPQYZghIAvOQ90tHAj6ErjyljgTbypQAgLsHfyaxPHxMrCW=w960-h719-s-no?authuser=0" 
				albumLink="https://photos.app.goo.gl/U8FVdQmwC5E6hzJm8" 
				resultsLink="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2012-Vysledky.pdf" />
		</div>
	</secition>
</MainLayout>