---

import MainLayout from "../layouts/MainLayout.astro"
import ArchiveCard from "../components/ArchiveCard.astro"
---

<MainLayout title="Archív">
	<secition class="content py-12 flex flex-col space-y-2">
		<h1>Archív</h1>
		<p>
			Chýba vám už RBA, hľadáte inšpiráciu, alebo sa už len neviete dočkať ďalšieho ročníka? Prezrite si galérie z minulých rokov!
		</p>
		
	</secition>
</MainLayout>