---
import MainLayout from "../layouts/MainLayout.astro"

const oz = "OZ IdeaHUB";
---

<MainLayout title="GDPR">
	<section class="content flex flex-col space-y-2 py-8">
		<h1>Ochrana osobných údajov</h1>
		<p>
			V súvislosti s organizovaním súťaže Robotický battle na Alejovej (ďalej RBA) spracúva {oz} osobné údaje súťažiacich.
		</p>
		<h2>Aké osobné údaje {oz} spracúva?</h2>
		<p>
			V súvislosti so súťažou RBA spracúvame tieto osobné údaje súťažiacich: meno, priezvisko a škola, ktorú žiak navštevuje, kontakt (e-mail, telefón). E-mail a telefonický kontakt vyžadujeme iba od kontaktnej osoby tímu. V rámci tímu v prípade potreby spracuvávame aj fakturačné údaje. V prípade zabezpečenia ubytovania zbierame aj adresu trvalého pobytu a rok narodenia ubytovaných osôb.
			<br>
			Tieto údaje nám poskytuje registrujúca osoba pri prihlásení do súťaže.
			<br>
			Pred, počas a po súťažiach taktiež vyhotovujeme fotografie účastníkov.
		</p>
		<h2>Na aké účely sa osobné údaje používajú?</h2>
		<p>
			Údaje registrujúcej osoby používame na komunikáciu s tímom (resp. tímami z jednej školy) – komunikujeme organizačné pokyny a pod.
			<br>
			Mená členov jednotlivých tímov použijeme na vypísanie diplomov. Vo výsledkovej listine je zverejnené číslo tímu, názov a škola.
			<br>
			Výber fotografií bude zverejnený na webových stránkach organizátora, prípadne iných materiáloch dokumentujúcich alebo propagujúcich činnosť organizátora (výročná správa, sociálne siete, atď.).
		</p>
		<h2>Komu poskytneme vaše osobné údaje?</h2>
		<p>
			Osobné údaje ubytovaných osôb poskytujeme sprostredkovateľovi ubytovania (Školský internát Antona Garbana, Werferova 10, Košice, IČO: 00164119)
			<br>
			Registračný portál spravuje spoločnosť (DEVITY Software s. r. o., IČO: 54297231), ktorá skladuje a poskytuje osobné údaje {oz}.
			<br>
			Fotografie môžu byť taktiež poskytnuté partnerom a sponzorom súťaže v rámci dokladovania realizácie akcie. Partneri súťaže sú uvedení na webovej stránke a môžu použiť audiovizuálny záznam zo súťaže na svojjich oficiálnych stránkach a sociálnych sieťach.
		</p>
		<h2>Ako dlho spracovávame vaše osobné údaje?</h2>
		<p>
			Údaje o členoch tímu uchovávame po obdobie 3 rokov pre ich zapojenie do ďalších ročníkov.
			<br>
			Údaje kontaktnej osoby spracovávame 2 roky kvôli zasielaniu informácií o nasledujúcom ročníku súťaže.
			<br>
			Výber fotografií je archivovaný 10 rokov.
			<br>
			Údaje identifikujúce platbu a fakturačné údaje budú spracovávané nevyhnutnú dobu na základe ďalších predpisov (Zákona o účtovníctve).
		</p>
		<h2>Aké sú vaše práva v súvislosti s vašimi osobnými údajmi?</h2>
		<ul>
			<li>Máte právo na informáciu, aké údaje o vás spracovávame, máte právo na ich prenos, môžete požiadať o nahliadnutie do údajov a o ich opravu.</li>
			<li>Máte právo na výmaz osobných údajov, keď prestane byť potrebné ich spracovanie.</li>
			<li>Máte právo namietať voči spracovaniu osobných údajov, ktoré spracúvame. Každú podanú námietku vyhodnotíme a o výsledku vás budeme informovať.</li>
			<li>Máte právo na obmedzenie spracovania osobných údajov – v priebehu rozhodovania o námietke môžete požiadať o obmedzenie spracovania. Až do vyhodnotenia námietky nebudú vaše údaje používané (t.j. nebudeme sa s vami kontaktovať).</li>
			<li>Ak sa nám nepodarilo uspokojivo vyriešiť vaše otázky alebo námietky v oblasti ochrany osobných údajov, môžete podať návrh na začatie konania na Úrad na ochranu osobných údajov SR, Hraničná 12, 820 07 Bratislava 7, <a href="www.dataprotection.gov.sk" target="_blank" class="animated-underline text-orange">www.dataprotection.gov.sk</a>.</li>
		</ul>
	</section>
</MainLayout>