---
import MainLayout from "../layouts/MainLayout.astro"

import hero from '../assets/photos/hero.svg';
import heroMobile from '../assets/photos/hero-mobile.svg';
---

<MainLayout title="Domov">
  <section class="h-[calc(100vh-72px)] bg-contain bg-no-repeat bg-right hidden md:block" style={{backgroundImage: `url('${hero.src}')`,}}>
	<div class="content flex flex-col h-full justify-center space-y-6">
		<div class="flex flex-col">
			<span class="subtext">Jedinečné robotická súťaž v Košiciach</span>
			<h1 class="text-orange">Robotický Battle</h1>
			<!-- Zakomentovat ked su pravidla na dalsi rocnik -->
			<span class="text-xl mt-4">RBA 2024 je za nami!</span>
			<!-- Odkomentovat ked su pravidla na dalsi rocnik -->
			 <!--
			<span class="text-xl mt-4">2.6.2025, Gymnazium Alejova 1, Kosice</span>
			 -->
		</div>
		<!-- Zakomentovat ked su pravidla na dalsi rocnik -->
		<div class="flex flex-row space-x-4">
			<a href="" class="btn btn-orange-full">Galéria&nbsp;&gt;</a>
			<a href="" class="btn btn-orange">Výsledky&nbsp;&gt;</a>
		</div>
		<!-- Odkomentovat toto a zakomentovat blok vyssie ked je novy rocnik -->
		<!--
		<div class="flex flex-row space-x-4">
			<a href="" class="btn btn-orange-full">Propozície&nbsp;&gt;</a>
			<a href="" class="btn btn-orange">Registrácia&nbsp;&gt;</a>
		</div>
		 -->
	</div>
  </section>
  <section class="md:hidden h-[calc(100vh-72px)] bg-cover bg-no-repeat bg-center" style={{backgroundImage: `url('${heroMobile.src}')`,}}>
	<div class="content flex flex-col h-full justify-center items-center space-y-6">
		<div class="flex flex-col">
			<span class="subtext text-center text-background">Jedinečné robotická súťaž v Košiciach</span>
			<h1 class="text-orange text-center">Robotický Battle</h1>
			<!-- Zakomentovat ked su pravidla na dalsi rocnik -->
			<span class="text-xl mt-4 text-center">RBA 2024 je za nami!</span>
			<!-- Odkomentovat ked su pravidla na dalsi rocnik -->
			 <!--
			<span class="text-xl mt-4 text-center">2.6.2025, Gymnazium Alejova 1, Kosice</span>
			 -->
		</div>
		<!-- Zakomentovat ked su pravidla na dalsi rocnik -->
		<div class="flex flex-row space-x-4">
			<a href="" class="btn btn-orange-full">Galéria&nbsp;&gt;</a>
			<a href="" class="btn btn-orange">Výsledky&nbsp;&gt;</a>
		</div>
		<!-- Odkomentovat toto a zakomentovat blok vyssie ked je novy rocnik -->
		<!--
		<div class="flex flex-row space-x-4">
			<a href="" class="btn btn-orange-full">Propozície&nbsp;&gt;</a>
			<a href="" class="btn btn-orange">Registrácia&nbsp;&gt;</a>
		</div>
		 -->
	</div>
  </section>
  <section id="stats" class="w-full bg-orange text-white py-4">
  <div class="content flex flex-row justify-between">
    
    <div class="flex flex-col items-center">
      <span class="title text-xl sm:text-2xl md:text-3xl counter" data-target="123">
        0
      </span>
      <span>projektov</span>
    </div>

    <div class="flex flex-col items-center">
      <span class="title text-xl sm:text-2xl md:text-3xl counter" data-target="456">
        0
      </span>
      <span>nadšencov</span>
    </div>

    <div class="flex flex-col items-center">
      <span class="title text-xl sm:text-2xl md:text-3xl counter" data-target="78">
        0
      </span>
      <span>škôl</span>
    </div>

  </div>
</section>

</MainLayout>