{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>Máte otázky, postrehy, alebo nápady na zlepšenie?</h1>

<p>
	Nevájte nám napísať, budeme veľmi radi ak nám ich dáte vedieť!
	Ak by ste mali chuť a záujem podielať sa na chode RBA, stále hľadáme nových členov do tímu.
</span>
	</div>
</section>
{{ partial "community_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
