---
title: Pravidlá
menu:
  main:
    weight: 2

---


{{< blocks/cover title="Pravidlá" image_anchor="bottom" height="min" >}}
<!-- <p class="lead mt-5">Test</p> -->
{{< blocks/link-down color="info" >}}
{{< /blocks/cover >}}

{{% blocks/lead %}}
Pravidlá pre RBA 2023
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fas fa-flag-checkered" title="Všeobecné informácie" %}}
<ul>
  <li>
    <a href="/pdf/rules/common/2023-vseobecne-pokyny.pdf"  target="_blank" rel="noopener noreferrer">
      Všeobecné pravidlá
    </a>
    <!-- Všeobecné pravidlá už čoskoro -->
  </li>
  <li>
    <a href="/pdf/directives/2023-Propozicie.pdf"  target="_blank" rel="noopener noreferrer">
      Propozície
    </a>
    <!-- Propozície už čoskoro -->
  </li>
  <li>
    <a href="/pdf/other/ubytovanie.xlsx"  target="_blank" rel="noopener noreferrer">
      Prihláška pre ubytovanie
    </a>
    <!-- Propozície už čoskoro -->
  </li>
  <li>
     <!--<a href="/pdf/schedules/2023-Harmonogram.pdf"  target="_blank" rel="noopener noreferrer">
      Harmonogram
    </a>-->
    Harmonogram už čoskoro
  </li>
</ul>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-rocket" title="Pravidlá kategórii" %}}
<ul>
  <li>
    <a href="/pdf/rules/racing/2023-Racing.pdf"  target="_blank" rel="noopener noreferrer">
      Racing
    </a>
    <!-- Racing už čoskoro -->
  </li>
  <li>
    <a href="/pdf/rules/roboticka_vyzva/2023-Roboticka-vyzva.pdf"  target="_blank" rel="noopener noreferrer">
      Robotická výzva
    </a>
    <!-- Robotická výzva už čoskoro -->
  </li>
  <li>
    <a href="/pdf/rules/vlastny_model/2023-Vlastny-model.pdf"  target="_blank" rel="noopener noreferrer">
      Vlastný model
    </a>
    <!-- Vlastný model už čoskoro -->
  </li>
</ul>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cogs" title="Užitočné dokumenty" %}}
<ul>
  <li>
    <a href="/pdf/other/prezentacia.pdf"  target="_blank" rel="noopener noreferrer">
      Ako správne prezentovať
    </a>
  </li>
  <li>
    <a href="/pdf/other/TipsAndTricks.pdf"  target="_blank" rel="noopener noreferrer">
      Tipy a triky (Vlastný model)
    </a>
  </li>
</ul>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="primary" >}}
<div class="mx-auto">
  <h1 class="text-center">Archív pravidiel</h1>
  Pravidlá minulých ročníkov nájdete na našom Githube <a class="text-light" href="https://github.com/RobotickyBattle/rba.github.io/tree/master/static/pdf"  target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github"></i>
    github.com/RobotickyBattle/rba.github.io/tree/master/pdf
  </a>
</div>
{{< /blocks/section >}}
