---
layout: default
---
{%- if site.active_lang == site.default_lang -%} 
    {%- capture categories_redirect -%}{{ site.baseurl }}/en/{{ page.categories }}{%- endcapture -%}  
{%- else -%}
    {%- capture categories_redirect -%}{{ site.baseurl }}{{ page.categories }}{%- endcapture -%}  
{%- endif -%}

<meta http-equiv="refresh" content="0; url={{ categories_redirect }}">
<div class="container">
  <div class="section txt-center">
    <p><strong>Budete presmerovaný na hlavnú stránku kategórie</strong></p>
    <a href="/{{ categories_redirect }}">{{ categories_redirect }}</a>
  </div>
</div>