---
layout: default
---
<div class="container">
    <h1 class="page-title">{{ page.title | escape }}</h1>
    <div class="section">
        {{ content | markdownify }}
    </div>
    <div class="section">


        {% assign page_year = page.date | date: "%Y" %}
        {% if page_year != "" %}
        {% assign page_year = site.posts | map: "date" | first | date: "%Y" %}
        {% endif %}
        {% assign st_files = site.static_files | where: "common", true %}
        {% for file in st_files %}
        {% if file.name contains page_year %}
        {% assign common = file.path %}
        {% break %}
        {% else %}
        {% assign common = "" %}
        {% endif %}
        {% endfor %}

        {% assign st_files = site.static_files | where: "directive", true %}
        {% for file in st_files %}
        {% if file.name contains page_year %}
        {% assign directive = file.path %}
        {% break %}
        {% else %}
        {% assign directive = "" %}
        {% endif %}
        {% endfor %}

        {% assign st_files = site.static_files | where: "schedule", true %}
        {% for file in st_files %}
        {% if file.name contains page_year %}
        {% assign schedule = file.path %}
        {% break %}
        {% else %}
        {% assign schedule = "" %}
        {% endif %}
        {% endfor %}

        {% assign st_files = site.static_files | where: "rules_vyzva", true %}
        {% for file in st_files %}
        {% if file.name contains page_year %}
        {% assign rules_vyzva = file.path %}
        {% break %}
        {% else %}
        {% assign rules_vyzva = "" %}
        {% endif %}
        {% endfor %}

        {% assign st_files = site.static_files | where: "rules_racing", true %}
        {% for file in st_files %}
        {% if file.name contains page_year %}
        {% assign rules_racing = file.path %}
        {% break %}
        {% else %}
        {% assign rules_racing = "" %}
        {% endif %}
        {% endfor %}

        {% assign st_files = site.static_files | where: "rules_model", true %}
        {% for file in st_files %}
        {% if file.name contains page_year %}
        {% assign rules_model = file.path %}
        {% break %}
        {% else %}
        {% assign rules_model = "" %}
        {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">Všeobecné informácie</h5>
                        </li>
                        {% if common != "" %}
                        <li class="collection-item">
                            {% if page.common_directives == true %}
                            <a href="{{common}}">
                                Všeobecné pravidlá súťaže
                                <span class="secondary-content"><i class="material-icons">send</i></span>
                            </a>
                            {% else %}
                                Všeobecné pravidlá súťaže čoskoro
                            {% endif %}
                        </li>

                        {% endif %}
                        {% if directive != "" %}
                        <li class="collection-item">
                            {% if page.common_directives == true %}
                            <a href="{{direcitve}}">
                                Propozície
                                <span class="secondary-content"><i class="material-icons">send</i></span>
                            </a>
                            {% else %}
                                Propozície čoskoro
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if schedule != "" %}
                        <li class="collection-item">
                            {% if page.schedule == true %}
                            <a href="{{schedule}}">
                                Harmonogram
                                <span class="secondary-content"><i class="material-icons">send</i></span>
                            </a>
                            {% else %}
                                Harmonogram čoskoro
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">Pravidlá kategórii</h5>
                        </li>
                        {% if rules_racing != "" %}
                        <li class="collection-item">
                            {% if page.racing == true %}
                            <a href="{{rules_racing}}">
                                Racing
                                <span class="secondary-content"><i class="material-icons">send</i></span>
                            </a>
                            {% else %}
                            Racing čoskoro
                            {% endif %}
                        </li>

                        {% endif %}
                        {% if rules_vyzva != "" %}
                        <li class="collection-item">
                            {% if page.roboticka_vyzva == true %}
                            <a href="{{rules_vyzva}}">
                                Robotická výzva
                                <span class="secondary-content"><i class="material-icons">send</i></span>
                            </a>
                            {% else %}
                            Robotická výzva čoskoro
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if rules_model != "" %}
                        <li class="collection-item">
                            {% if page.vlastny_model == true %}
                            <a href="{{rules_model}}">
                                Vlastný model
                                <span class="secondary-content"><i class="material-icons">send</i></span>
                            </a>
                            {% else %}
                            Vlastný model čoskoro
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">Užitočné dokumenty</h5>
                        </li>
                        <li class="collection-item">
                            <a href="/pdf/other/prezentacia.pdf">
                                Ako správne prezentovať
                                <span class="secondary-content"><i class="material-icons">send</i></span>
                            </a>
                        </li>
                        <li class="collection-item">
                            <a href="/pdf/other/TipsAndTricks.pdf">
                                Tipy a triky pri stavbe Vlastného modelu
                                <span class="secondary-content"><i class="material-icons">send</i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h1 class="page-title">Archív</h1>
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">Racing</h5>
                        </li>
                        {% assign RAR = site.static_files | where: "rules_racing", true | sort: "name" | reverse %}
                        {% for item in RAR %}
                        <li class="collection-item">
                            <div class="center">
                                <a href="{{item.path}}">{{item.name}}</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">Robotická výzva</h5>
                        </li>
                        {% assign RAR = site.static_files | where: "rules_vyzva", true | sort: "name" | reverse %}
                        {% for item in RAR %}
                        <li class="collection-item">
                            <div class="center">
                                <a class="center" href="{{item.path}}">
                                    {{item.name}}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">Vlastný model</h5>
                        </li>
                        {% assign RAR = site.static_files | where: "rules_model", true | sort: "name" | reverse %}
                        {% for item in RAR %}
                        <li class="collection-item">
                            <div class="center">
                                <a class="center" href="{{item.path}}">
                                    {{item.name}}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
