---
layout: default
---
{%- assign I18N = site.data.i18n -%}

{%- assign post = site.posts | where: "categories", "rules" | first -%}
{%- assign post_year = post.date | date: "%Y" -%}


{% assign st_files = site.static_files | where: "common", true %}
{% for file in st_files %}
    {% if file.name contains post_year %}
        {%- if file.name contains "en" -%}
            {% assign common_en = file.path %}
        {%- else -%}
            {% assign common = file.path %}
        {%- endif -%}
    {% endif %}
{% endfor %}


{% assign st_files = site.static_files | where: "directive", true %}
{% for file in st_files %}
    {% if file.name contains post_year %}
        {%- if file.name contains "en" -%}
            {% assign directive_en = file.path %}
        {%- else -%}
            {% assign directive = file.path %}
        {%- endif -%}
    {% endif %}
{% endfor %}

{% assign st_files = site.static_files | where: "schedule", true %}
{% for file in st_files %}
    {% if file.name contains post_year %}
        {%- if file.name contains "en" -%}
            {% assign schedule_en = file.path %}
        {%- else -%}
            {% assign schedule = file.path %}
        {%- endif -%}
    {% endif %}
{% endfor %}


{% assign st_files = site.static_files | where: "rules_vyzva", true %}
{% for file in st_files %}
    {% if file.name contains post_year %}
        {%- if file.name contains "en" -%}
            {% assign rules_vyzva_en = file.path %}
        {%- else -%}
            {% assign rules_vyzva = file.path %}
        {%- endif -%}
    {% endif %}
{% endfor %}

{% assign st_files = site.static_files | where: "rules_racing", true %}
{% for file in st_files %}
    {% if file.name contains post_year %}
        {%- if file.name contains "en" -%}
            {% assign rules_racing_en = file.path %}
        {%- else -%}
            {% assign rules_racing = file.path %}
        {%- endif -%}
    {% endif %}
{% endfor %}

{% assign st_files = site.static_files | where: "rules_model", true %}
{% for file in st_files %}
    {% if file.name contains post_year %}
        {%- if file.name contains "en" -%}
            {% assign rules_model_en = file.path %}
        {%- else -%}
            {% assign rules_model = file.path %}
        {%- endif -%}
    {% endif %}
{% endfor %}


<div class="container">
    <h1 class="page-title">{{ I18N.rules[site.active_lang] }} {{ post_year }}</h1>
    <div class="section">
        {{ post.content | markdownify }}
    </div>
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">{{ I18N.common_info[site.active_lang] }}</h5>
                        </li>

                        <!-- Vseobecne pravidla -->
                        <li class="collection-item">
                            {% if common %}
                                <a href="{{ common }}">
                                    {{ I18N.common_rules[site.active_lang] }}
                                </a>
                                
                                <span class="secondary-content">
                                    [ <a href="{{ common }}">SK</a>{% if common_en %} | <a href="{{ common_en }}">EN</a>{% endif %} ]
                                </span>
                            {% else %}
                                {{ I18N.common_rules[site.active_lang] }} {{ I18N.comming_soon[site.active_lang] }}
                            {% endif %}
                        </li>

                        <!-- Propozicie -->
                        <li class="collection-item">
                            {% if directive %}
                                <a href="{{ directive }}">
                                    {{ I18N.directive[site.active_lang] }}
                                </a>
                                
                                <span class="secondary-content">
                                    [ <a href="{{ directive }}">SK</a>{% if directive_en %} | <a href="{{ directive_en }}">EN</a>{% endif %} ]
                                </span>
                            {% else %}
                                {{ I18N.directive[site.active_lang] }} {{ I18N.comming_soon[site.active_lang] }}
                            {% endif %}
                        </li>
                        
                        <!-- Harmonogram -->
                        <li class="collection-item">
                            {% if schedule %}
                                <a href="{{ schedule }}">
                                    {{ I18N.schedule[site.active_lang] }}
                                </a>
                                
                                <span class="secondary-content">
                                    [ <a href="{{ schedule }}">SK</a>{% if schedule_en %} | <a href="{{ schedule_en }}">EN</a>{% endif %} ]
                                </span>
                            {% else %}
                                {{ I18N.schedule[site.active_lang] }} {{ I18N.comming_soon[site.active_lang] }}
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">{{ I18N.categories_rules[site.active_lang] }}</h5>
                        </li>
                        <!-- Racing -->
                        <li class="collection-item">
                            {% if rules_racing %}
                                <a href="{{ rules_racing }}">
                                    {{ I18N.racing_name[site.active_lang] }}
                                </a>
                                
                                <span class="secondary-content">
                                    [ <a href="{{ rules_racing }}">SK</a>{% if rules_racing_en %} | <a href="{{ rules_racing_en }}">EN</a>{% endif %} ]
                                </span>
                            {% else %}
                                {{ I18N.racing_name[site.active_lang] }} {{ I18N.comming_soon[site.active_lang] }}
                            {% endif %}
                        </li>


                        <!-- Vyzva -->
                        <li class="collection-item">
                            {% if rules_vyzva %}
                                <a href="{{ rules_vyzva }}">
                                    {{ I18N.robo_vyzva_name[site.active_lang] }}
                                </a>
                                
                                <span class="secondary-content">
                                    [ <a href="{{ rules_vyzva }}">SK</a>{% if rules_vyzva_en %} | <a href="{{ rules_vyzva_en }}">EN</a>{% endif %} ]
                                </span>
                            {% else %}
                                {{ I18N.robo_vyzva_name[site.active_lang] }} {{ I18N.comming_soon[site.active_lang] }}
                            {% endif %}
                        </li>

                        <!-- Model -->
                        <li class="collection-item">
                            {% if rules_model %}
                                <a href="{{ rules_model }}">
                                    {{ I18N.vlastny_model_name[site.active_lang] }}
                                </a>
                                
                                <span class="secondary-content">
                                    [ <a href="{{ rules_model }}">SK</a>{% if rules_model_en %} | <a href="{{ rules_model_en }}">EN</a>{% endif %} ]
                                </span>
                            {% else %}
                                {{ I18N.vlastny_model_name[site.active_lang] }} {{ I18N.comming_soon[site.active_lang] }}
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">{{ I18N.useful_documents[site.active_lang] }}</h5>
                        </li>
                        <li class="collection-item">
                            <a href="/pdf/other/prezentacia.pdf">
                                {{ I18N.how_to_present[site.active_lang] }}
                                <span class="secondary-content">[ SK ]</span>
                            </a>
                        </li>
                        <li class="collection-item">
                            <a href="/pdf/other/TipsAndTricks.pdf">
                                {{ I18N.tips_and_trics[site.active_lang] }} ({{ I18N.vlastny_model_name[site.active_lang] }})
                                <span class="secondary-content">[ SK ]</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h1 class="page-title">{{ I18N.archive[site.active_lang] }}</h1>
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">{{ I18N.racing_name[site.active_lang] }}</h5>
                        </li>
                        {% assign RAR = site.static_files | where: "rules_racing", true | sort: "name" | reverse %}
                        {% for item in RAR %}
                        <li class="collection-item">
                            <div class="center">
                                <a href="{{item.path}}">{{item.name}}</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">{{ I18N.robo_vyzva_name[site.active_lang] }}</h5>
                        </li>
                        {% assign RAR = site.static_files | where: "rules_vyzva", true | sort: "name" | reverse %}
                        {% for item in RAR %}
                        <li class="collection-item">
                            <div class="center">
                                <a class="center" href="{{item.path}}">
                                    {{item.name}}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5 class="center">{{ I18N.vlastny_model_name[site.active_lang] }}</h5>
                        </li>
                        {% assign RAR = site.static_files | where: "rules_model", true | sort: "name" | reverse %}
                        {% for item in RAR %}
                        <li class="collection-item">
                            <div class="center">
                                <a class="center" href="{{item.path}}">
                                    {{item.name}}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
